#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ul {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 460px;
  list-style: none;
  text-align: left;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 12px 32px 12px 32px;
  margin: 12px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: sub;
  cursor: pointer;
  margin-right: 8px;
}
#change-input {
  width: 230px;
  padding: 4px;
}
#add-input {
  width: 260px;
  padding: 8px;
  margin: 12px;
}
.rabel {
  margin-right: 8px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  min-width: 154px;
}
#change-button {
  background-color: #fff;
  color: rgb(116, 134, 200);
  border: 2px solid rgb(116, 134, 200);
}
#change-button:hover {
  background-color: rgb(116, 134, 200);
  color: #fff;
}
#remove-button {
  background-color: #fff;
  color: rgb(212, 113, 113);
  border: 2px solid rgb(212, 113, 113);
}
#remove-button:hover {
  background-color: rgb(212, 113, 113);
  color: #fff;
}
#input-button {
  background-color: #fff;
  color: rgb(108, 189, 121);
  border: 2px solid rgb(108, 189, 121);
}
#input-button:hover {
  background-color: rgb(108, 189, 121);
  color: #fff;
}
